.btn-hover-top {
    position: relative;
    transition: all .4s;
    box-shadow: -2px 10px 14px 0px rgba(0,0,0,0.2);

    &::after{
        content: "";
        display: inline-block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 9999px;
        background-color: white;
        z-index: -1;
        transition: all .4s;
    }
    &:hover {
        transform: translateY(-4px);
        box-shadow: -2px 10px 14px 0px rgba(0,0,0,0.2);

    }

    &:active {
        transform: translateY(-1px);
    }

    &:hover::after {
        color: #2563eb;
        transform: scale(1.4);
        opacity: 0;
    }
}