.cta {
    text-decoration: none;
    font-size: 1rem;
    position: relative ;
    padding: 16px 22px;
    color: #777;
    transition: all .2s ease ;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-radius: 28px;
      background: rgba(#60a5fa,.5);
      width: 56px;
      height: 56px;
      transition: all .3s ease;
    }
    span {
      position: relative;
      line-height: 18px;
      font-weight: 900;
      letter-spacing: .25em;
      text-transform: uppercase;
      vertical-align: middle;
    }
    &:hover{
      &:before{
        width: 100%;
        background: rgba(#60a5fa,1);
      }
    }
}